.places {
	width: 100%;
	display: flex;
	border: 0;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.places > h1 {
	font-size: 30px;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 0px;
	flex: 0 1 100%;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px #FF5A5F;
	border-radius: 4px;
	display: flex;
	justify-content: center;
}

article > h2 {
	font-size: 30px;
}
